absl-py==1.0.0
astor==0.8.1
bleach==1.5.0
blinker==1.8.2
certifi==2021.10.8
charset-normalizer==2.0.10
click==8.1.7
filelock==3.4.2
Flask==3.0.3
Flask-Cors==4.0.1
gast==0.5.3
grpcio==1.43.0
html5lib==0.9999999
huggingface-hub==0.2.1
idna==3.3
importlib-metadata==4.10.0
itsdangerous==2.2.0
Jinja2==3.1.4
joblib==1.1.0
Markdown==3.3.6
MarkupSafe==2.1.5
numpy==1.22.0
packaging==21.3
protobuf==3.19.1
pyparsing==3.0.6
pyspark==3.2.0
PyYAML==6.0
regex==2021.11.10
requests==2.27.1
sacremoses==0.0.46
six==1.16.0
tensorboard==1.8.0
tensorflow @ https://storage.googleapis.com/tensorflow/mac/cpu/tensorflow-1.8.0-py3-none-any.whl
termcolor==1.1.0
tokenizers==0.10.3
tqdm==4.62.3
transformers==4.15.0
typing_extensions==4.0.1
urllib3==1.26.8
Werkzeug==3.0.3
zipp==3.7.0
